.previous {
	margin-left: 5%;
}

.next {
	margin-right: 5%;
	right: 0%;
}

.arrow {
	position: absolute;
	top: 50%; /* poussé de la moitié de hauteur du référent */
	transform: translateY(-50%);
	cursor: pointer;
}
